body {
    display: flex;
    flex-direction: column;
}

h1 {
    margin: auto;
    margin-top: 20px;
}

#memory-sequence {
    margin: auto;
    margin-top: 20px;
}
#solution-sequence {
    display: flex;
    margin: auto;
    margin-top: 20px;
}

#game-board {
    margin: auto;
    height: 500px;
    width: 500px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.colors {
    margin: auto;
    display: flex;
    justify-content: center;
    height: 80px;
    width: 80px;
    border: 2px solid black;
    border-radius: 15px;
}

.colors:hover {
    font-size: 30px;
    border: 5px solid black;
}
    
#div1 { 
    background: red;
    grid-area: 1 / 2 / 2 / 3; 
}
#div2 { 
    background: greenyellow;
    grid-area: 2 / 3 / 3 / 4; 
}
#div3 { 
    background: lightblue;
    grid-area: 3 / 2 / 4 / 3; 
}
#div4 { 
    background: yellow;
    grid-area: 2 / 1 / 3 / 2; 
}
#start { 
    display: flex;
    padding-top: 20px;
    height: 90px;
    width: 90px;
    justify-content: center;
    font-size: 25px;
    margin: auto;
    background: magenta;
    border: 2px solid black;
    border-radius: 180px;
    grid-area: 2 / 2 / 3 / 3;
}

#win-message {
    margin: auto;
}

#current-guess {
    display: flex;
    margin: auto;
    margin-top: 20px;
}

#submit {
    margin: auto;
    height: 25px;
    width: 60px;
    margin-top: 15px;
    padding: 5px;
    background: red;
    color: white;
}

#reset {
    position: absolute;
    right: 280px; 
    bottom: 280px;
    background-color: orange;
}

p {
    margin: auto;
}

.solution {
    margin: auto;
    display: flex;
    justify-content: center;
    height: 30px;
    width: 30px;
    border: 2px solid black;
    border-radius: 5px;
}
#red {
    background-color: red;
}

#green {
    background-color: greenyellow;
}

#blue {
    background-color: lightblue;
}

#yellow {
    background-color: yellow;
}